<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>添加报销单 - 北大青鸟办公自动化管理系统</title>
	<link href="../../css/style.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="../../js/jquery-1.8.3.js"></script>
	<script type="text/javascript">
		$(function(){
			//表单提交校验
		
			/*$("form[name='claimForm']").submit(function(){
				//判断是否加入了问题 
				if($("#rowNumber").val()<1){
					//$.messager.defaults={ok:"确定"};$.messager.alert("提示信息",$("#rowNumber").val());
					$("#notice").text("* 添加报销单的明细，至少一条 ！");
					return false;
				}	
				$("#notice").text("*");
				for(var s=0;s<$("#rowNumber").val();s++){
					$("#account"+s).next(".notice").text("*");
					$("#desc"+s).next(".notice").text("*");
					if(isEmpty($("#account"+s).val())){
						$("#account"+s).next(".notice").text("* 金额不能为空  ！");
						return false;
					}
					if(isEmpty($("#desc"+s).val())){
						$("#desc"+s).next(".notice").text("* 金额不能为空  ！");
						return false;
					}
				}
				$(".buttons").hide();
				return true;
			});*/
			
			$("#AddRow").on("click", function(){
				var tr=$("<tr><td></td><td></td><td></td><td></td></tr>");
				++i;
				var j=i-1;
				var desc = $("#desc").val();
				var account = $("#account").val();
					/*alert(toString.call(account));
					if(toString.call(account)==='[object Number]'){
						
					} else {
						alert("请输入正确的金额！"); 
						return false;
					}*/
					
				var price=$(this).parent().prev().prev().find("input").val();
				//alert(price);
				var red=/^([1-9]\d{0,9}|0)([.]?|(\.\d{1,2})?)$/;
				if(!red.test(price)){
					alert("请输入正确数字！");
					$(this).parent().prev().prev().find("input").val("");
					return false;
				}
					
				totalAccount=parseFloat(totalAccount)+parseFloat(account);
				var pic = $("#pic").val();
				pic=pic.substring(12);
				tr.find("td").get(0).innerHTML="<input id=desc"+j+" type=hidden value="+desc+" />"+desc;
				tr.find("td").get(1).innerHTML="<input id=account"+j+"  type=hidden value="+account+" />"+account;
				tr.find("td").get(2).innerHTML="<img src='../../images/"+pic+"' width=32 height=32 /><input type='hidden' class='pictrue_name' value='"+pic+"'>";		
				tr.find("td").get(3).innerHTML="<input type=button name=DelRow"+j+" id=DelRow"+j+" onclick=delRow("+j+") value="+'删除'+" />";
				tr.find("td").get(3).innerHTML="<img src='../../images/delete.gif' width=16 height=16 id=DelRow"+j+" onclick=delRow("+j+") />";
				tr.show();
				tr.appendTo("#myTable>tbody");
				//传递一共添加多少问题 
				rowNumber=i;
				$("#account").attr("value","");
				$("#desc").attr("value","");
				$("#totalAccount").attr("value",totalAccount);
			});	
			
		});
		
		var i=0;
		var rowNumber=0;
		var totalAccount = 0;
		function delRow(id){	
			var account = $("#account"+id).val();
			$("#myTable tr").eq(id+1).remove();
				//var rowNumber=$("#rowNumber").val();
				for(var s=id+1;s<rowNumber;s++){
					$("#item"+s).attr("name","detailList["+(s-1)+"].item");
					$("#item"+s).attr("id","item"+(s-1));
					$("#account"+s).attr("name","detailList["+(s-1)+"].account");
					$("#account"+s).attr("id","account"+(s-1));
					$("#desc"+s).attr("name","detailList["+(s-1)+"].desc");
					$("#desc"+s).attr("id","desc"+(s-1));		
					var js="delRow("+(s-1)+");";
					var newclick=eval("(false||function (){"+js+"});");
					$("#DelRow"+s).unbind('click').removeAttr('onclick').click(newclick);
					$("#DelRow"+s).attr("id","DelRow"+(s-1));					
				}
			$("#rowNumber").attr("value",rowNumber-1);
			--i;
			totalAccount=parseFloat(totalAccount)-parseFloat(account);
			$("#totalAccount").attr("value",totalAccount);
		}
	</script>
</head>
<body>
	<div class="action divaction">
		<div class="t">添加报销单</div>
		
		<div class="pages">
			<form action="javascript:;" name="claimForm" method="post">
				<input type="hidden" id="rowNumber" name="rowNumber" value=""/>
				<table width="90%" border="0" cellspacing="0" cellpadding="0" class="addform-base">
					<tr>
						<td>*员工编号：<span id="userId"></span></td>
						<td>*填报人：<span id="userName"></span></td>
						<td>*部门：<span id="depName"></span></td>
						<td>*填报时间：<span id="createTime"></span></td>
					</tr>
					<tr>
						<td colspan="3">*总金额：￥<input type="text" id="totalAccount" name="totalAccount" value=""/></td>
						<td colspan="2">*状态：<input type="text" id="status" name="status" value="新创建" readonly="readonly" /></td>
					</tr>
					<!--<tr>
						<td colspan="5"><span class="notice" id="noctice">*</span></td>
					</tr>-->
				</table>
          		<p>-----------------------------------------------------------------------------------------------------</p>
				<table id="myTable" width="90%" border="0" cellspacing="0" cellpadding="0" class="addform-base">
					<thead>
						<tr style="text-align: left;">
							<th width="27%">项目类别</th>
							<th width="27%">项目金额</th>
							<th width="27%">费用说明</th>
							<th width="19%">操作</th>
						</tr>
					</thead>
					<tbody>
						
					</tbody>
				</table>
				<table id="detailTable" width="90%" border="0" cellspacing="0" cellpadding="0" class="addform-base">
					<tr>
						<td width="27%">
							<select name="desc" id="desc">
								<option value="城际交通费">城际交通费</option>
								<option value="市内交通费">市内交通费</option>
								<option value="通讯费">通讯费</option>
								<option value="礼品费">礼品费</option>
								<option value="办公费">办公费</option>
								<option value="交际餐费">交际餐费</option>
								<option value="餐补">餐补</option>
								<option value="住宿费">住宿费</option>
							</select>
						</td>
						<td width="27%"><input type="text" name="account" id="account" size="13" /><span class=notice>*</span></td>
						<td width="27%"><input type="file" name="pic" id="pic" size="13" /></td>
						<td width="19%"><img src="../../images/add.gif" width="16" height="16" id="AddRow"/></td>
					</tr>
				</table>
          		<p>-----------------------------------------------------------------------------------------------------</p>
				<table>
					<tr>
						<td>*事由：</td>
						<td colspan="3">
							<textarea rows="5" cols="66" name="event" id="event"></textarea>
						</td>
					</tr>
					<tr align="center" colspan="4">
						<td>&nbsp;</td>
						<td >
							<input type="button" id="1" name="1" value="保存" class="submit_01" onclick="submitClaimVoucher('保存')"/>
							<input type="button" id="2" name="2" value="提交" class="submit_01" onclick="submitClaimVoucher('提交')" />
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</body>
<script type="text/javascript">
	$(function(){

		$("#userId").text(parent.$user.userId);
		$("#userName").text(parent.$user.userName);
		$("#depName").text(parent.$user.depName);
		$("#createTime").text(getNowTime());
		
		/*$("#totalAccount").text(parent.$user. );
		$("#status").text(parent.$user. );*/
	});
	function getNowTime() {
	    var date = new Date();
	    var seperator1 = "-";
	    var seperator2 = ":";
	    var month = date.getMonth() + 1<10? "0"+(date.getMonth()         + 1):date.getMonth() + 1;
	    var strDate = date.getDate()<10? "0" + date.getDate():date.getDate();
	    var currentdate = date.getFullYear() + seperator1  + month  + seperator1  + strDate
	            + " "  + date.getHours()  + seperator2  + date.getMinutes()
	            + seperator2 + date.getSeconds();
	    return currentdate;
	}
	/*function yzje(pp){
		var je=$(pp).parent().prev().prev().find("input").val();
		alert(je);
		var red=/^([1-9]\d{0,9}|0)([.]?|(\.\d{1,2})?)$/;
		if(!red.test(je)){
			alert("请输入正确数字！");
			$(pp).parent().prev().prev().find("input").val("");
		}
	};*/
	
	function submitClaimVoucher(action){
   		if(!confirm("确定"+action+"报销单吗")) return;
   		
   		if (action == '保存'){
   			document.claimForm.status.value = "新创建";	//1
   		}else{
   			document.claimForm.status.value = "已提交";	//“待审批” 2
   		}
   		//alert($("#rowNumber").val());
   		
   		if($("#event").val() == ""){
   			alert("请输入报销事由！");
   			return false;
   		}
   		
   		var obj={
   				reiUser : $("#userId").text(),
   				reiDep : parent.$user.depId,
   				nextDealUser : $("#userId").text(),		//无论‘保存’和‘提交’，先固定录当前用户的编号
   				event : $("#event").val(),
   				totalCount : $("#totalAccount").val(),
   				statusid : $("#status").val()=="新创建"?"1":"2",			//
   				detList:[]
		};
   		var $trs = $("#myTable>tbody").find("tr");
   		//alert("长度为：" + $trs.length);
   		for (var i = 0; i < $trs.length; i++) {
			var $tr = {
					desc : $($trs[i]).find("td").eq(0).text(),
					subTotal : $($trs[i]).find("td").eq(1).text(),
					pictrueName : $($trs[i]).find("td").eq(2).find(".pictrue_name").val()
			}
			obj.detList.push($tr);
		}
   		//alert(JSON.stringify(obj));
   		
   		$.ajax({
			url : "/Y2ProjectD_Work/reim/insertReimburse",
			type : "post",
	        data : JSON.stringify(obj),
			contentType : "application/json;charset=utf-8",
	        dataType : "json",
	        "success" : function(res){
   				//alert(res.message);
   				
   				if(res.code == "1"){
   					location.href = "/Y2ProjectD_Work/jsp/claim/claim_voucher_list.html";
   				}
   			}
   		});
	}
</script>
</html>
