<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
	</head>
	<body>
	<script type="text/javascript" th:src="@{/js/jquery-1.8.3.js}"></script>
		<div class="top">
			<div class="global-width">
				<img th:src="@{/images/logo.gif}" class="logo" />
			</div>
		</div>
		
		<div class="status" style="height: 30px;">
			<div class="global-width" style="height: 30px;line-height: 32px;margin:0px;margin-left: 130px">
				<span><span class="usertype">【登录角色：<b id="dljs">普通职员</b>】&nbsp;<a href="javascript:;" id="tcdl">退出登录</a></span></span>
				<span><b id="dlr">admin</b>你好！欢迎访问青鸟办公管理系统！</span>
				<span style="margin-left: 260px">当前在线人数：（<b id="zxrs">0</b>）人</span>
			</div>
		</div>
		
		
		
	</body>
</html>

