<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>查看报销单 - 北大青鸟办公自动化管理系统</title>
		<link href="../../css/style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
	<script type="text/javascript" src="../../js/jquery-1.8.3.js"></script>
	    <div class="action divaction" style="padding-right: 5px;">
	    	<div class="t">查看报销单</div>
	    	
	   		<div class="pages">
	        	<!--查看报销单 区域 开始-->
                <table width="90%" border="0" class="addform-base primary">
	            	<caption>基本信息</caption>
	            	<!-- 
	            		/*
							Integer reimburseid;//报销编号
						    Integer typeid;//2代表报销表
						    Integer createman;//employee表的报销人
						    Date createtime;//创建时间
						    Integer nextdealman;//employee表的下个处理人
						    String event;//报销事由
						    Float totalcount;//报销总金额
						    Integer statusid;//tb_status表的状态，外键，关联状态表
						    
						    Integer employeeid;//用户编号
						    String employeename;//用户姓名
						    String password;//密码
						    Integer positionid;//position表的职位编号，外键
						    Integer pid;//上一级id
						    String status;//tb_status表的用户状态id
						    
						    Integer departmentid;//部门编号
						    String departmentname;//部门名称
						    
							Integer statusid;//状态编号
						    String statusname;//状态名称
						    
						    private Integer positionid;//职位编号
    						private String positionname;//职位名称
						    
						    String nextemployeeName;//待处理人姓名
					  */
	            	 -->
	            	<tr>
	                  	<td>编&nbsp;号：<span class="reimburseid">71</span></td>
	                    <td>填 写 人：<span class="employeename">叶枫</span></td>
	                    <td>部门：<span class="departmentname">研发部</span></td>
	                    <td>职&nbsp;&nbsp;位：<span class="positionname">普通员工</span></td>
	            	</tr>
	            	<tr>
	                    <td>总金额：<span class="totalcount">500.00</span></td>
	                    <td>填报时间：<span class="createtime">2019-01-01 7:20:17</span></td>
	                    <td>状态：<span class="statusname">已付款</span></td>
	                    <td>待处理人：<span class="nextemployeeName">无</span></td>
	            	</tr>
	        	</table>
	          	<p>--------------------------------------------------------------------------------------------</p>
	            <table width="90%" border="0" class="addform-base detail">
	            	<thead>
		            	 <tr style="text-align: left;">
		                    <th>项目说明</th>
		                    <th>项目金额</th>
		                    <th>票据截图</th>
		                </tr>
	            	</thead>
	            	<tbody>
		            	 <!-- 
		                	    private Integer id;//详情编号
							    private Integer mainid;//tb_reimburse表的报销主表编号
							    private Float subtotal;//事项金额
							    private String desc;//事项描述
							    private String picturename;//报销单图片名
							    private String picturepath;//报销单真实路径
		                 -->
	            		<tr>
							<td class="desc">应酬客户酒席</td>
							<td>￥<span class="subtotal">300.00</span></td>
							<td><img src="../../images/head.jpg" class="picturepath" width="45px"></td>
						</tr>
						<tr>
							<td>夜宿酒店</td>
							<td>￥<span>200.00</span></td>
							<td><img src="../../images/go.jpg" width="45px"></td>
						</tr>
	            	</tbody>
	               
	               
					
	      		</table>
	      		   <p>--------------------------------------------------------------------------------------------</p>
	      		<table width="90%" border="0" cellspacing="0" cellpadding="0" class="addform-base tbcheck">
		      		<thead>
		         		<tr style="text-align: left;">
				           	<th width="21%">审查人</th>
				           	<th width="27%">审查意见</th>
				           	<th width="23%">审查时间</th>
				           	<th width="38%">审查结果</th>
			         	</tr>
			         </thead>
			         <tbody>
			         	<tr>
			           		<td>部门经理欢</td>
			           		<td>必须打回</td>
			           		<td>2019-01-01 08:58:17</td>
			           		<td><strong>打回</strong></td>
		         		</tr>
		         		<tr>
			           		<td>部门经理欢</td>
			           		<td>好吧，通过</td>
			           		<td>2019-01-02 10:58:17</td>
			           		<td><strong>通过</strong></td>
		         		</tr>
		         		<tr>
			           		<td>出纳某</td>
			           		<td>打钱</td>
			           		<td>2019-01-03 16:58:17</td>
			           		<td><strong>通过</strong></td>
		         		</tr>
			         </tbody>
	         	
			    </table>
	      		<p>--------------------------------------------------------------------------------------------</p>
			    <p>&nbsp;</p>
			    <p>&nbsp;</p>
			    <p><input type="button" value="返回" onclick="window.history.go(-1)" class="submit_01"/></p>       
				<!--查看报销单 区域 结束-->
        	</div>
        	
        	<script>
        		var reimburseid=window.sessionStorage.getItem("reimburseid"); //报销单id
        		var user =JSON.parse(window.sessionStorage.getItem("user"));//将用户信息从js中的session中取出来
        		console.info("报销单user");
        		console.info(user);
    			//alert("查看详情页报销单id:"+reimburseid)
    			
    			//查询报销表信息
				$.ajax({
						url:"/JBOA/Tb_reimburse/queryByidprimarywithdetail",
						type:"post",
						data:"reimburseid="+reimburseid,
						dataType:"json",						
						success:function(res){

							console.info("报销单主详表：")
							console.info(res);

							//var ress=JSON.stringify(res)
							
							/*  
								createman: 1006
								createtime: "2018-06-18 09:40:16"
								departmentid: 3
								departmentname: "研发部"
								employeeid: 1006
								employeename: "鲁昌盛"
								event: "出差"
								list: Array(2)
									0:
										desc: "酒店住宿"
										id: 1
										mainid: 1
										subtotal: 500
									1:
										desc: "洗脚"
										id: 2
										mainid: 1
										subtotal: 1500
									length: 2
								nextdealman: 10000
								nextemployeeName: "无"
								password: "123"
								pid: 1004
								positionid: 2
								reimburseid: 1
								statusid: 5
								statusname: "已付款"
								totalcount: 2000
								typeid: 2
							*/
							$(".detail tbody").empty();//清空详情页面
							$(".reimburseid").html(res.reimburseid)
							$(".employeename").html(res.employeename)
		                    $(".departmentname").html(res.departmentname)
		                    $(".positionname").html(res.positionname)
		                    $(".totalcount").html(res.totalcount)
		                    $(".createtime").html(res.createtime)
		                    $(".statusname").html(res.statusname)
                    		$(".nextemployeeName").html(res.nextemployeeName)
							$.each(res.list,function(i,obj2){
								 /*
			                	    private Integer id;//详情编号
								    private Integer mainid;//tb_reimburse表的报销主表编号
								    private Float subtotal;//事项金额
								    private String desc;//事项描述
								    private String picturename;//报销单图片名
								    private String picturepath;//报销单真实路径
				                 */
				                 var src="/JBOA/images/"+obj2.picturepath;
				                 
								 var s="<tr>"+
										"<td class='desc'>"+obj2.desc+"</td>"+
										"<td>￥<span class='subtotal'>300.00</span>"+obj2.subtotal+"</td>"+
										"<td><img src='"+src+"' class='picturepath' width='45px'></td>"+
									"</tr>";
									$(".detail tbody").append(s);
									
						 	})
						}
				}) 
    			
    			//查询审查记录
				$.ajax({
						url:"/JBOA/Tb_checkAction/selectbybizid",
						type:"post",
						data:"bizid="+reimburseid,
						dataType:"json",						
						success:function(res){
							console.info("审查记录表表：")
							console.info(res);
							//var ress=JSON.stringify(res)
							/*  
								   private Integer checkid;//审查记录编号
								    private Integer bizid;//业务编号，关联请假表或报销主表
								    private Integer typeid;//关联请假表或报销主表中type_id字段
								    @DateTimeFormat(pattern = "yyyy-MM-dd HH:mm:ss")
								    private Date checktime;//审查时间
								    private Integer checkman;//employee表的审查人编号
								    private Integer checkresult;//审查结果，外键，关联审查结果表
								    private String checkcomment;//审查意见
							*/
							$(".tbcheck tbody").empty();//清空审查记录页面
							$.each(res,function(i,obj){
								 var s="<tr>"+
											"<td>"+obj.checkmanname+"</td>"+
								           	"<td>"+obj.checkcomment+"</td>"+
								         	"<td>"+obj.checktime+"</td>"+
								           	"<td><strong>"+obj.resultname+"</strong></td>"+
										"</tr>";
									$(".tbcheck tbody").append(s);
									
						 	})
						}
				}) 
        	</script>
    	</div>
	</body>
</html>