<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>报销单列表 - 北大青鸟办公自动化管理系统</title>	
		<link href="../../css/style.css" rel="stylesheet" type="text/css" />
		<base target="main">
		<script type="text/javascript" src="../../js/jquery-1.8.3.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript" src="../../js/My97DatePicker/WdatePicker.js"></script>
		<script>
			$(function(){
					 //日期选择控件
				 	$("#startDate").click(function(){
						WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endDate\')}',isShowClear:true, readOnly:true });
					});
					$("#endDate").click(function(){
						WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startDate\')}',isShowClear:true, readOnly:true });
					});
				});
		   	function delVoucher(id){
		   		if(!confirm('确定删除报单吗？')) return;
		   		
		   		document.claimVoucherForm.action = "claimVoucher_deleteClaimVoucherById.action?claimVoucher.id="+id;
		   		document.claimVoucherForm.submit();
		   	}
		</script>
	</head>
	<body>
		<script type="text/javascript" src="../../js/jquery-1.8.3.js"></script>
		<div class="action  divaction">
			<div class="t">报销单列表</div>
			
			<div class="pages">
				<div class="forms">
					<form id="form" action="javascript:;" name="queryForm" method="post">
			       		<label>开始年份</label>
			  			<select name="begin" >
			  				<option value="0">全部</option>
			  			</select>
			  			<script>
				  			$.ajax({
								url:"/JBOA/Tb_reimburse/selecttime",
								type:"post",
							  	data : "",
							  	dataType:'json',	
							  	success:function (data) {
							  		$("select[name=begin]").html("");
							  		console.info("报销单时间")
							  		console.info(data)
						  			var s="";
							  		s+="<option value='0'>全部</option>"
							  		$.each(data,function(i,obj){
							  			s+="<option value='"+obj.y+"'>"+obj.y+"</option>";
							  		})
							  		//	alert("s="+s)
							  		$("select[name=begin]").append(s);
						        }
							});
			  			</script>
			       		<label>结束年份</label>
			  			<select name="over" >
			  				<option value="0">全部</option>
			  				<option value="1">2018</option>
			  				<option value="2">2019</option>
			  			</select>
				       	<input class="submit_01" id="cx" value="查询" />
			       	</form>
				</div>
				<!--报销单 列表 开始-->
				<table width="90%" border="0" cellspacing="0" cellpadding="0" class="list items">
			      	<thead>
			      		<tr class="even">
					        <td>编号</td>
					        <td>填报日期</td>
					        <td>填报人</td>
					        <td>总金额</td>
					        <td>状态</td>
					        <td>待处理人</td>
					        <td>操作</td>
				      	</tr>
			      	</thead>
			      	<tbody>
			      		<tr>
			      			<td>1</td>
			      			<td>2019-01-02 11:32:21</td>
			      			<td>叶枫</td>
			      			<td>500.00</td>
			      			<td>已付款</td>
			      			<td>无</td>
			      			<td>
			      				<!--下面的内容要做判断来显示，Ajax查询，回调函数里用if选择结构 - start -->
			      				<!-- 修改 删除：新创建 已打回 -->
			      				<a target="main" href="../claim/claim_voucher_update.html">
				        			<img src="../../images/edit.gif" width="16" height="16" title="" alt="修改"/> 
						        </a>
						        <a href="javascript:;">
						        	<img src="../../images/delete.gif" width="16" height="16" alt="删除"/>
						        </a>
						        <!--保存-->
						        <a href="javascript:;">
						        	<img src="../../images/save.gif" width="16" height="16" alt="保存"/> 
						        </a>
						        <!--查看详情-->
			      				<a target="main" href="../claim/claim_voucher_view.html">
						        	<img src="../../images/search.gif" width="16" height="15" alt="查看详情"/>
						        </a>
			      				<!-- 点击进行审批：已提交 待审批 已审批 -->
			      				<a target="main" href="../claim/claim_voucher_check.html">
					         		<img src="../../images/sub.gif" width="16" height="16" alt="审批通过"/>
					        	</a>
			      				<!--上面的内容要做判断来显示，Ajax查询，回调函数里用if选择结构 - end -->
			      			</td>
			      		</tr>
			      		
			      	</tbody>
			      <script>
			    		var ym=window.sessionStorage.getItem("ym"))
			    		alert("ym:"+ym)
			      </script>
				
			
			</div>
		</div>
	</body>
</html>
