<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>报销单列表 - 北大青鸟办公自动化管理系统</title>	
		<link href="../../css/style.css" rel="stylesheet" type="text/css" />
		<base target="main">
		<script type="text/javascript" src="../../js/jquery-1.8.3.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript" src="../../js/My97DatePicker/WdatePicker.js"></script>
		<script>
			$(function(){
					 //日期选择控件
				 	$("#startDate").click(function(){
						WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endDate\')}',isShowClear:true, readOnly:true });
					});
					$("#endDate").click(function(){
						WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startDate\')}',isShowClear:true, readOnly:true });
					});
				});
		   	function delVoucher(id){
		   		if(!confirm('确定删除报单吗？')) return;
		   		
		   		document.claimVoucherForm.action = "claimVoucher_deleteClaimVoucherById.action?claimVoucher.id="+id;
		   		document.claimVoucherForm.submit();
		   	}
		</script>
	</head>
	<body>
		<script type="text/javascript" src="../../js/jquery-1.8.3.js"></script>
		<div class="action  divaction">
			<div class="t">报销单列表</div>
			
			<div class="pages">
				<div class="forms">
					<form id="form" action="javascript:;" name="queryForm" method="post">
			       		<label>报销单状态</label>
			  			<select name="status" >
			  				<option value="0">全部</option>
			  				<option value="1">新创建</option>
			  				<option value="2">待审批</option>
			  				<option value="3">审批中</option>
			  				<option value="4">已审批</option>
			  				<option value="5">已付款</option>
			  				<option value="6">已打回</option>
			  				<option value="7">已存档</option>
			  			</select>
				       	<label for="time">开始时间</label>
				       	<input type="date" name="startDate" id="startDate" cssClass="nwinput"/>
				       	<label for="end-time">结束时间</label>
				       	<input type="date" name="endDate" id="endDate" cssClass="nwinput"/>
				       	<input type="hidden" name="pageNo" value="1"/>
				 	   	<input type="hidden" name="pageSize" value="5"/>
				       	<input class="submit_01" id="cx" value="查询" />
			       	</form>
				</div>
				<!--报销单 列表 开始-->
				<table width="90%" border="0" cellspacing="0" cellpadding="0" class="list items">
			      	<thead>
			      		<tr class="even">
					        <td>编号</td>
					        <td>填报日期</td>
					        <td>填报人</td>
					        <td>总金额</td>
					        <td>状态</td>
					        <td>待处理人</td>
					        <td>操作</td>
				      	</tr>
			      	</thead>
			      	<tbody>
			      		<tr>
			      			<td>1</td>
			      			<td>2019-01-02 11:32:21</td>
			      			<td>叶枫</td>
			      			<td>500.00</td>
			      			<td>已付款</td>
			      			<td>无</td>
			      			<td>
			      				<!--下面的内容要做判断来显示，Ajax查询，回调函数里用if选择结构 - start -->
			      				<!-- 修改 删除：新创建 已打回 -->
			      				<a target="main" href="../claim/claim_voucher_update.html">
				        			<img src="../../images/edit.gif" width="16" height="16" title="" alt="修改"/> 
						        </a>
						        <a href="javascript:;">
						        	<img src="../../images/delete.gif" width="16" height="16" alt="删除"/>
						        </a>
						        <!--保存-->
						        <a href="javascript:;">
						        	<img src="../../images/save.gif" width="16" height="16" alt="保存"/> 
						        </a>
						        <!--查看详情-->
			      				<a target="main" href="../claim/claim_voucher_view.html">
						        	<img src="../../images/search.gif" width="16" height="15" alt="查看详情"/>
						        </a>
			      				<!-- 点击进行审批：已提交 待审批 已审批 -->
			      				<a target="main" href="../claim/claim_voucher_check.html">
					         		<img src="../../images/sub.gif" width="16" height="16" alt="审批通过"/>
					        	</a>
			      				<!--上面的内容要做判断来显示，Ajax查询，回调函数里用if选择结构 - end -->
			      			</td>
			      		</tr>
			      		
			      	</tbody>
			      	<script>
				      	/* 
				      	LocalStorage
							是对Cookie的优化
							没有时间限制的数据存储
							在隐私模式下不可读取
							大小限制在500万字符左右，各个浏览器不一致
							在所有同源窗口中都是共享的
							本质是在读写文件，数据多的话会比较卡（firefox会一次性将数据导入内存）
							不能被爬虫爬取，不要用它完全取代URL传参
							IE７及以下不支持外，其他标准浏览器都完全支持
						
						SessionStorage
							针对一个 session 的数据存储
							大小限制在5M左右，各个浏览器不一致
							仅在当前浏览器窗口关闭前有效（适合会话验证）
							不在不同的浏览器窗口中共享，即使是同一个页面
				      	
				      	localstroage
				      		获取键值：window.localStorage.getItem(“key”)
							设置键值：window.localStorage.setItem(“key”,”value”)
							清除键值：window.localStorage.removeItem(“key”)
							清除所有键值：window.localStorage.clear()
							获取键值2：window.localStorage.keyName
							设置键值2：window.localStorage.keyName = “value”	
							
						sessionStorage
							存储数据
							window.sessionStorage.setItem('key', 'value'）
							取数据
							window.sessionStorage.getItem("key");  
				      	*/
				      	
				      	$(".list tbody .ckxq").live("click",function(){//查看详情
				      		//alert("点击")
				      		var reimburseid=$(this).attr("reimburseid")
				      		window.sessionStorage.setItem("reimburseid",reimburseid);//存入输入
				       		//alert("列表页报销单id:"+window.sessionStorage.getItem("reimburseid"))
				      		window.location.href='../claim/claim_voucher_view.html'
				      		
				      	})
				      	$(".list tbody .update").live("click",function(){//修改
				      		//alert("点击")
				      		var reimburseid=$(this).attr("reimburseid")
				      		window.sessionStorage.setItem("reimburseid",reimburseid);//存入输入
				       		//alert("列表页报销单id:"+window.sessionStorage.getItem("reimburseid"))
				      		window.location.href='../claim/claim_voucher_update.html'
				      		
				      	})
				      	$(".list tbody .scbxd").live("click",function(){//审查报销单
				      		//alert("点击")
				      		var reimburseid=$(this).attr("reimburseid")
				      		window.sessionStorage.setItem("reimburseid",reimburseid);//存入输入
				       		//alert("列表页报销单id:"+window.sessionStorage.getItem("reimburseid"))
				      		window.location.href='../claim/claim_voucher_check.html'
				      		
				      	})
				      	$(".list tbody .del").live("click",function(){//删除报销单
					      	 var statu = confirm("是否删除?");
					      	var reimburseid=$(this).attr("reimburseid")
				      		//alert("报销单id:"+reimburseid)
					      	 if(statu==true){
					      		var reimburseid=$(this).attr("reimburseid")
					      		window.sessionStorage.setItem("reimburseid",reimburseid);//存入输入
					      		$.ajax({
									url:"/JBOA/Tb_reimburse/deleteByPrimaryKey",
									type:"post",
									data:"reimburseid="+reimburseid,
									dataType:"json",						
									success:function(res){
										if (res.code=="1") {
											window.location.href='claim_voucher_list.html'
										} else {
											alert(res.message)
										}
									}
					      		})
					      		
					      	  }
				      	})
				      	$(".list tbody .save").live("click",function(){//保存报销单
					      	 var statu = confirm("是否保存?");
					      	var reimburseid=$(this).attr("reimburseid")
				      		//alert("报销单id:"+reimburseid)
					      	 if(statu==true){
					      		var reimburseid=$(this).attr("reimburseid")
					      		window.sessionStorage.setItem("reimburseid",reimburseid);//存入输入
					      		$.ajax({
									url:"/JBOA/Tb_reimburse/updatesave",
									type:"post",
									data:"reimburseid="+reimburseid,
									dataType:"json",						
									success:function(res){
										if (res.code=="1") {
											window.location.href='claim_voucher_list.html'
										} else {
											alert(res.message)
										}
									}
					      		})
					      		
					      	  }
				      	})
		  				
			      	</script>
			      	<tfoot>
			      		<tr>
			      			<td colspan="7">
								<div class="page">
							        <a  href="#" title="" class="sy">首页</a>
							        <a href="#" title="" id="prevPage">上一页</a>
							        <a href="#" class="ys" onclick="getPage(1)" title="">1</a> 
							        <a href="#" class="ys" title="">2</a> 
							        <a href="#" class="ys" title="">3</a> 
							        <a href="#" class="ys" title="">4</a>
							        <a href="#" class="ys" title="">5</a> 
							        <a href="#" title="" id="nextPage">下一页</a>
							        <a href="#" title="" class="wy" onclick="">尾页</a> 
							        &nbsp;&nbsp;
							        <span id="currentPage" ></span>&nbsp;<span id="counts">7</span>条记录
							     </div>
							</td>
			      		</tr>
			      	</tfoot>
			    </table>      
			  	<!--增加报销单 区域 结束-->
			  		<script type="text/javascript">
						//获取当前用户
						 $.ajax({
								url:"/JBOA/Employees/loginuser",
								type:"post",
								data:"",
								dataType:"json",
								success:function(res){
									console.info(res);
								 	//alert(res.departmentname)//登录人角色
								 	//alert(res.positionid)//登录人角色
								 	//alert(res.employeename)//登陆人姓名
								 	//alert(res.employeeid)//登陆人id 
								 	
								 
								 	$("form").attr("employeeid",res.employeeid);
								 	$("form").attr("employeename",res.employeename);
								 	$("form").attr("positionid",res.positionid);
									getPage(1);
								}
						}) 
					</script>
				<script>
				//alert(111111)
				//时间戳转日期或日期转时间戳方法转换方法
			
				  $.extend({
				    myTime: {
				      /**
				       * 当前时间戳
				       * @return <int>    unix时间戳(秒) 
				       */
				      CurTime: function(){
				        return Date.parse(new Date())/1000;
				      },
				      /**       
				       * 日期 转换为 Unix时间戳
				       * @param <string> 2014-01-01 20:20:20 日期格式       
				       * @return <int>    unix时间戳(秒)       
				       */
				      DateToUnix: function(string) {
				        var f = string.split(' ', 2);
				        var d = (f[0] ? f[0] : '').split('-', 3);
				        var t = (f[1] ? f[1] : '').split(':', 3);
				        return (new Date(
				            parseInt(d[0], 10)  || null,
				            (parseInt(d[1],10)  || 1) - 1,
				            parseInt(d[2], 10)  || null,
				            parseInt(t[0], 10)  || null,
				            parseInt(t[1], 10)  || null,
				            parseInt(t[2], 10)  || null
				            )).getTime() / 1000;
				      },
				      /**       
				       * 时间戳转换日期       
				       * @param <int> unixTime  待时间戳(秒)       
				       * @param <bool> isFull  返回完整时间(Y-m-d 或者 Y-m-d H:i:s)       
				       * @param <int> timeZone  时区       
				       */
				      UnixToDate: function(unixTime, isFull, timeZone) {
				        if (typeof (timeZone) == 'number')
				        {
				          unixTime = parseInt(unixTime) + parseInt(timeZone) * 60 * 60;
				        }
				        var time = new Date(unixTime);//时间戳为10位需unixTime*1000，时间戳为13位的话不需乘1000
				        var ymdhis = "";
				        ymdhis += time.getUTCFullYear() + "-";
				        ymdhis += (time.getUTCMonth()+1) + "-";
				        ymdhis += time.getUTCDate();
				        if (isFull === true)
				        {
				          ymdhis += " " + time.getUTCHours() + ":";
				          ymdhis += time.getUTCMinutes() + ":";
				          ymdhis += time.getUTCSeconds();
				        }
				        return ymdhis;
				      }
				    }
				  });
				
				//alert($.myTime.DateToUnix('2016-04-12 10:49:59'));
				//($.myTime.UnixToDate(1566984015000));
				
				
				/*Integer totalPage;//总页数
				Integer totalCount;//总条数
				Integer pageSize;//每页大小
				Integer currentPage;//当前页
				Integer prevPage;//上一页
				Integer nextPage;//下一页
				List list;//数据集合 */
				//alert(111)
				$("#prevPage,#nextPage").click(function(){//点击上一页/下一页
					var currentPage=$(this).attr("currentPage");
					getPage(currentPage);
				});
				$("#cx").click(function(){//点击查询
					getPage(1);
				});

				function getPage(currentPage){
					var user =JSON.parse(window.sessionStorage.getItem("user"));//将用户信息从js中的session中取出来
					
					console.info("列表页用户信息："+JSON.stringify(user))
					
					var employeeId= $("#form").attr("employeeId");//用户id
					var positionid= $("#form").attr("positionid");//用户角色id
					var departmentId= user.departmentid;//用户部门id
					var pageNum=currentPage; //当前页
					var pageSize=5;//每页大小
					var oldtransaction_date=$("[name='startDate']").val();//开始时间
					var newtransaction_date=$("[name=endDate]").val();//结束时间
					var statusid=$("[name=status]").val();//报销单状态id
					
		    	
					$(".pages h3").remove();		    		
	    			$(".list").show();//显示表格
	    			var param="statusid="+statusid+"&positionid="+positionid+"&employeeId="+employeeId+"&departmentId="+departmentId+"&pageNum="+pageNum+"&pageSize="+pageSize+"&oldtransaction_date="+oldtransaction_date+"&newtransaction_date="+newtransaction_date;//定义总条件变量并赋值
	    			//alert("条件"+param)
	    			//定义总条件变量并赋值
					$.ajax({
						url:"/JBOA/Tb_reimburse/selectByAll",
						type:"get",
						data:param,
						dataType:"json",
			        	// 请求发送之前（发送请求前可修改XMLHttpRequest对象的函数，如添加自定义HTTP头。）。
			        	beforeSend:function(XMLHttpRequest){
						    $(".items tbody").html("请稍后，正在加载中......");
				        }, 
						success:function(res){
							console.info("分页数据：")
							console.info(res)
							/* 								
							int pageNum;//当前页								
							int pageSize;//每页的数量								
							int size;//当前页的数量								
							String orderBy;//排序

							//由于startRow和endRow不常用，这里说个具体的用法
							//可以在页面中"显示startRow到endRow 共size条数据"								
							int startRow;//当前页面第一个元素在数据库中的行号								
							int endRow;//当前页面最后一个元素在数据库中的行号								
							long total;//总记录数								
							int pages;//总页数								
							List<T> list;//结果集
							
							int firstPage;//第一页								
							int prePage;//前一页								
							int nextPage;//下一页								
							int lastPage;//最后一页

							boolean isFirstPage = false;//是否为第一页								
							boolean isLastPage = false;//是否为最后一页								
							boolean hasPreviousPage = false;//是否有前一页								
							boolean hasNextPage = false;//是否有下一页								
							int navigatePages;//导航页码数								
							int[] navigatepageNums;//所有导航页号


							*/
							if(res.list.length==0){
								//alert("此时间范围内没有记录")
								$(".list").hide();
								 $("#form").after("<h3 style=\"margin-left: 105px\">此时间范围内没有记录</h3>");
								 return;
							}else{
							
							
										$("#prevPage").attr("currentPage",res.prePage);//给上一页页数赋值
										//alert(res.pageNum+"/"+res.pages)
										$("#prevPage").attr("pages",res.pages);//当前页/总页数
										$("#counts").html(res.total)//总条数
										$("#nextPage").attr("currentPage",res.nextPage);//下一页页数赋值

										//加载页数号码
										$(".ys").remove();//清空号码
										
										var ss=res.pageNum+4;
										var i = res.pageNum; 
										if (ss>res.pages) {
											ss=res.pages;
											i=res.pages-4;
											if (i<1) {
												i=1;
											}
										}
									 	for (;i <= ss; i++) {
									 		if (i==res.pageNum) {
									 			$("#nextPage").before("<a href='#' style='color:red' class='ys' onclick='getPage("+i+")' title=''>"+i+"</a> ");
												
									 		}else{
									 			$("#nextPage").before("<a href='#' class='ys' onclick='getPage("+i+")' title=''>"+i+"</a> ");
									 			
									 		}
											
										} 
									 	
									 	//onclick
									 	$(".sy").attr("onclick","getPage(1)")
									 	$(".wy").attr("onclick","getPage("+res.pages+")")
									 	
										
										if (res.pages==0) {
											$("#currentPage").html("0/0");//当前页/总页数
											
										}
									 	 $(".items tbody").empty();//清空页面
											$.each(res.list,function(i,obj){
												//alert(obj)
												/*
													Integer reimburseid;//报销编号
												    Integer typeid;//2代表报销表
												    Integer createman;//employee表的报销人
												    Date createtime;//创建时间
												    Integer nextdealman;//employee表的下个处理人
												    String event;//报销事由
												    Float totalcount;//报销总金额
												    Integer statusid;//tb_status表的状态，外键，关联状态表
												    
												    Integer employeeid;//用户编号
												    String employeename;//用户姓名
												    String password;//密码
												    Integer positionid;//position表的职位编号，外键
												    Integer pid;//上一级id
												    String status;//tb_status表的用户状态id
												    
												    Integer departmentid;//部门编号
												    String departmentname;//部门名称
												    
													Integer statusid;//状态编号
												    String statusname;//状态名称
												    
												    String nextemployeeName;//待处理人姓名
											  */
												var s="";
											  s+="<tr>"+
												"<td>"+obj.reimburseid+"</td>"+
										        "<td>"+obj.createtime+"</td>"+
										        "<td>"+obj.employeename+"</td>"+
										        "<td>"+obj.totalcount+"</td>"+
										        "<td>"+obj.statusname+"</td>";
										      
									        	 s+="<td>"+obj.nextemployeeName+"</td>";
											
										       
										        s+="<td>";
							      				<!--下面的内容要做判断来显示，Ajax查询，回调函数里用if选择结构 - start -->
							      				<!-- 修改 删除：新创建 已打回 -->
							      				//alert("状态："+obj.statusname+",id："+obj.statusid==1)
							      				//alert(obj.employeename+"/"+$("form").attr("employeename"))
							      				if (obj.employeename==$("form").attr("employeename")) {//自己
							      					//alert("进入1")
							      					
							      					if (obj.statusid==1) {//新创建
														s+="<a target='main' class='update' reimburseid="+obj.reimburseid+" href='../claim/claim_voucher_update.html?reimburseid="+obj.reimburseid+"'>"+
										        			"<img src='../../images/edit.gif'  width='16' height='16' title='修改'/> "+
												        "</a>";
												        s+="<a href='javascript:;' class='del'  reimburseid="+obj.reimburseid+">"+
												        	"<img src='../../images/delete.gif' class='del' width='16' height='16' title='删除'/>"+
												        "</a>";
												        <!--保存-->
												        s+="<a href='javascript:;' class='save'  reimburseid="+obj.reimburseid+">"+
												        	"<img src='../../images/save.gif' width='16' height='16' title='保存'/> "+
												        "</a>";
												        <!--查看详情-->
												        s+="<a target='main' href='javascript:;' class='ckxq'  reimburseid="+obj.reimburseid+">"+
												        	"<img src='../../images/search.gif' width='16' height='15' title='查看详情'/>"+
												        "</a>";
													} 
													if (obj.statusid==2) {//待审批
														 s+="<a target='main' href='javascript:;' class='ckxq'  reimburseid="+obj.reimburseid+">"+
												        	"<img src='../../images/search.gif' width='16' height='15' title='查看详情'/>"+
												        "</a>";
													} 
													if (obj.statusid==3) {//审批中
														 s+="<a target='main' href='javascript:;' class='ckxq'  reimburseid="+obj.reimburseid+">"+
												        	"<img src='../../images/search.gif' width='16' height='15' title='查看详情'/>"+
												        "</a>";
													} 
													if (obj.statusid==4) {//已审批
														 s+="<a target='main' href='javascript:;' class='ckxq'  reimburseid="+obj.reimburseid+">"+
												        	"<img src='../../images/search.gif' width='16' height='15' title='查看详情'/>"+
												        "</a>";
													} 
													if (obj.statusid==5) {//已付款
														 s+="<a target='main' href='javascript:;' class='ckxq'  reimburseid="+obj.reimburseid+">"+
												        	"<img src='../../images/search.gif' width='16' height='15' title='查看详情'/>"+
												        "</a>";
													} 
													if (obj.statusid==6) {//已打回
														//alert("进入2")
														s+="<a target='main' class='update' reimburseid="+obj.reimburseid+" href='../claim/claim_voucher_update.html?reimburseid="+obj.reimburseid+"'>"+
										        			"<img src='../../images/edit.gif'  width='16' height='16' title='修改'/> "+
												        "</a>";
														 s+="<a target='main' href='javascript:;' class='ckxq'  reimburseid="+obj.reimburseid+">"+
												        	"<img src='../../images/search.gif' width='16' height='15' title='查看详情'/>"+
												        "</a>";
													} 
													if (obj.statusid==7) {//已存档
														 s+="<a target='main' href='javascript:;' class='ckxq'  reimburseid="+obj.reimburseid+">"+
												        	"<img src='../../images/search.gif' width='16' height='15' title='查看详情'/>"+
												        "</a>";
													} 
												} else {//其他
													//alert("进入2")
														if (obj.statusid==2) {//待审批
															 s+="<a target='main' href='javascript:;' class='ckxq'  reimburseid="+obj.reimburseid+">"+
													        	"<img src='../../images/search.gif' width='16' height='15' title='查看详情'/>"+
													        "</a>";
															 <!-- 点击进行审批：已提交 待审批 已审批 -->
										      				s+="<a target='main' class='scbxd' href='../claim/claim_voucher_check.html?reimburseid="+obj.reimburseid+"'  reimburseid="+obj.reimburseid+">"+
												         		"<img src='../../images/sub.gif' width='16' height='16' title='审批'/>"+
												        	"</a>";
														} 
														if (obj.statusid==3) {//审批中
															if(obj.nextemployeeName==$("form").attr("employeename")){
																 s+="<a target='main' href='javascript:;' class='ckxq'  reimburseid="+obj.reimburseid+">"+
														        	"<img src='../../images/search.gif' width='16' height='15' title='查看详情'/>"+
														        "</a>";
																 <!-- 点击进行审批：已提交 待审批 已审批 -->
											      				s+="<a target='main'  class='scbxd' href='../claim/claim_voucher_check.html?reimburseid="+obj.reimburseid+"'  reimburseid="+obj.reimburseid+">"+
													         		"<img src='../../images/sub.gif' width='16' height='16' title='审批'/>"+
													        	"</a>";
															}else{
																 s+="<a target='main' href='javascript:;' class='ckxq'  reimburseid="+obj.reimburseid+">"+
														        	"<img src='../../images/search.gif' width='16' height='15' title='查看详情'/>"+
														        "</a>";
															}
														} 
														if (obj.statusid==4) {//已审批
															 s+="<a target='main' href='javascript:;' class='ckxq'  reimburseid="+obj.reimburseid+">"+
													        	"<img src='../../images/search.gif' width='16' height='15' title='查看详情'/>"+
													        "</a>";
													        if (obj.nextdealman==1002) {//下一个处理人为出纳时	
													        	 <!-- 点击进行审批：已提交 待审批 已审批 -->
												      				s+="<a target='main' class='scbxd' href='../claim/claim_voucher_check.html?reimburseid="+obj.reimburseid+"'  reimburseid="+obj.reimburseid+">"+
														         		"<img src='../../images/sub.gif' width='16' height='16' title='审批'/>"+
														        	"</a>";
															}
															
														} 
														if (obj.statusid==5) {//已付款
															 s+="<a target='main' href='javascript:;' class='ckxq'  reimburseid="+obj.reimburseid+">"+
													        	"<img src='../../images/search.gif' width='16' height='15' title='查看详情'/>"+
													        "</a>";
														} 
														if (obj.statusid==6) {//已打回
															 s+="<a target='main' href='javascript:;' class='ckxq'  reimburseid="+obj.reimburseid+">"+
													        	"<img src='../../images/search.gif' width='16' height='15' title='查看详情'/>"+
													        "</a>";
														} 
														if (obj.statusid==7) {//已存档
															 s+="<a target='main' href='javascript:;' class='ckxq'  reimburseid="+obj.reimburseid+">"+
													        	"<img src='../../images/search.gif' width='16' height='15' title='查看详情'/>"+
													        "</a>";
														} 
								      				
												}
							      				<!--上面的内容要做判断来显示，Ajax查询，回调函数里用if选择结构 - end -->
						      				s+="</td>";
					      				s+="</tr>";
													//alert("传入信息："+s)
											//alert("状态："+obj.statusid)
											$(".items tbody").append(s);
										 })
			      				
			      					
			      					
								
							 }
									
							}
		    			})
		    		
				}
			
				</script>
				
			
			</div>
		</div>
	</body>
</html>
