<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/shop_type.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:src="@{/js/jquery-1.12.4.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
</head>
<body>
<div class="rightarea clearfix">
    <div class="mainarea clearfix">
        <div class="user_list_main clearfix">
            <div class="user_list_body clearfix" style="margin-bottom: 60px;">
                <div class="mainhead">
		            <span class="title">商品类型</span>
		        </div>
                <table class="clearfix settable">
                    <thead>
                        <tr>
                            <th width="20%">序号</th>
                            <th width="*">名称</th>
                            <th width="40%">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>
                                <a href="javascript:;">修改</a>
                                <a href="javascript:;">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>
                                <a href="javascript:;">修改</a>
                                <a href="javascript:;">删除</a>
                            </td>
                        </tr>  <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>
                                <a href="javascript:;">修改</a>
                                <a href="javascript:;">删除</a>
                            </td>
                        </tr>  <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>
                                <a href="javascript:;">修改</a>
                                <a href="javascript:;">删除</a>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




</body>
</html>